nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
  }
  nav h3{
      padding: 30px 0;
      color: white;
  }
  ul{
      display: flex;
  }
  ul li{
      list-style-type: none;
      margin-right: 60px;
      padding: 40px 0;
  }
  ul li a{
      text-decoration: none;
      color: white;
  }
  
  p {
    color: grey;
  }